//COLORS

$gray : #D5D5D5;
$gradient-gray: linear-gradient(0deg, #DFDFDF, #F0F0F0);
$dark-gray: #9B9B9B;
$darker-gray: #676767;
$darkest-gray: #525252;
$black: rgb(50,50,50);
$red: red;
$blue-gray: #4a5568;
$blue:blue;
